:root {
    --white-text: #e2e8f0;
    --button-font-size: 1.5rem;
    --background: #18181b;
    --header-background: #27272a;
    --bottom-shadow: 0 4px 2px -2px var(--white-text);
    --header-text-colour: #fb923c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
            "header"
    "content";
    gap: 30px;
    height: 100vh;
    background-color: var(--background);
    color: var(--white-text);
}

header {
    border-radius: 10px;
    grid-area: header;
    padding: 10px;
    background-color: var(--header-background);
    display: flex;
}

header nav {
    display: flex;
    margin-left: auto;
}
header .button {
    transition-duration: 0.5s;
    flex: 0 1 50px;
    border: none;
    border-radius: 5px;
    color: var(--white-text);
    background: transparent;
    font-weight: bold;
    padding: 10px;
    font-size: var(--button-font-size);
    cursor: pointer;
}
header .button:hover {
    background-color: var(--white-text);
    color: var(--header-background);
}

#icon {
    width: 60px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(95%) sepia(32%) saturate(389%) hue-rotate(175deg) brightness(99%) contrast(89%)
}

#content {
    grid-area: content;
}

#about-page {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    flex: 0 1 700px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


#about-page #chef-image {
    flex: 1;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

#about-page #text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--white-text);
}

#about-page h1,
#about-page h2,
#about-page h3 {
    color: var(--header-text-colour);
}

#about-page h1 {
    font-size: 3rem;
}

#about-page h2 {
    font-size: 2.5rem;
}
#about-page p {
    font-size: 1.375rem;
}

#about-page .section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}